@model PosApp.Models.CardDetails

<div>
    <h4>CardDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuerLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuerLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvnType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvnType)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="CardIndex">Back to List</a>
</div>
